table, td, th {
  border: 1px solid;
}

table{
  margin: 1rem;
}

td, th {
  padding: 1rem;
  background-color: aliceblue;
}

thead th {
  font-weight: bold;
  background-color: aliceblue;
}

tfoot {
  background-color: aliceblue;
}

p {
margin-bottom: 1rem;
}

footer {
padding: 1rem;
}

a {
color: rgb(red, green, blue);
}

body {
  background-color: beige;
}